* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
 
#main > article {
  flex: 1;
}
header, footer{
  background-color: yellowgreen;
  height: 20vh;
}

header, footer, article, nav, aside {
  padding: 1em;
}

#main {
  display: flex;
  flex: 1;
}

#main > nav,
#main > aside {
  flex: 0 0 20vh;
  background: beige;

}

#main > nav {
  order:-1;
}

@media screen and (max-width: 575px){
  #main {
    display: block;
  }
}