p {
  color: red;
}
em {
  display: block;
  background-color: aqua;
}
ul > li {
  display: inline-block;
  padding: 10px 12px;
}

ul > li > a {
  color: brown;
  font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow';
  text-decoration: none;
}

ul > li > a:hover {
  text-decoration: underline;
}

section p {
  color: green;
}

section > p {
  color: yellow;
}
h2 + p {
  text-transform: uppercase;
}

h2 ~ p {
  border: 1px dashed black;
}