[data-vegetable] {
  color: green; 
}

[data-meat="replace quorn"] {
  color: peru;
}

[lang|=sv]{
  color: aqua;
}

[data-quantity$="kg"] {
  font-weight: bold;
}

[data-quantity*="g"]{
  text-decoration:underline; 
}

[data-quantity^="optional"] {
  opacity: 0.3;
}

 a:hover {
   color: purple;
 }

 [href^=http]::after {
   content: " efter"
 }

 h2, 
 p,
 a{
   font-family: arial;
 }